@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color:#FFF;
}
.container {
    max-width:1070px;
    margin: auto;
    color: #FFF;
}

header {
    display:flex;
    border-radius: 3px;
}

header .logo {
    padding-top: 3px;
    flex: 1;
}
header .logo img {
    width: 100px;
    height: 20px;
}

header .barcode {
    flex: 4;
}

.barcode input {
   color: #4f4f4f;
   font-size: 18px;
   text-align: center;
   width: 100%;
   padding: 5px 5px 5px;
   border: transparent;
   outline: none;
 }
header .msg {
    padding-top: 5px;
    flex: 4;
    color: #4f4f4f;
    font-weight:bold;
    text-align: center;
}
.content {
    display:flex;
    flex-direction: column;
}
.content .label {
    font-size: 10px;
    line-height: 15px;
    color: #333;
    font-weight:bold;
    text-align: center;
    background-color: #ccc;
    width:100%;
 }

 .content .lastItem {
    display: flex;
    font-size: 18px;
    line-height: 30px;
    color: #333;
    background-color: #FFF;
 }
/*
 .content .lastItem .code {
    flex: 1;
    
 }
 */
 .content .lastItem .description {
   padding-left: 10px;
    flex: 4;
    
 }
 .content .lastItem .price {
   flex: 1;
   
}

 .content .lastItem .quantity {
    flex: 1;
 }

 .content .lastItem .value {
    flex: 1;
    
 }

 .content .headItem {
   display: flex;
   flex-direction: row;
   width:100%;
   font-size: 16px;
   line-height: 20px;
   color: #333;
   background-color: #FFF;
   font-weight:bold;
}

.content .headItem .description {
   padding-left: 10px;
   flex: 4;
   
}

.content .headItem .price {
  flex: 1;
  
}

.content .headItem .quantity {
   flex: 1;
}

.content .headItem .value {
   flex: 1;    
}



 .content .items {
   display: flex;
   flex-direction: column;
   width:100%;
}


 .content .item {
    display: flex;   
    font-size: 18px;
    line-height: 30px;
    color: #333;
    background-color: #FFF;
 }

 .content .item .code {
    flex: 1;
    
 }
 .content .item .description {
    padding-left: 10px;
    flex: 4;
    
 }

 .content .item .price {
   flex: 1;
   
 }

 .content .item .quantity {
    flex: 1;
 }
 .content .item .quantity span {
   font-size: 12px;
   margin-right: 3px;
}

 .content .item .value {
    flex: 1;    
 }

 .footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background:#FFF;
    
  }

  .footer .print{
    flex:1;
    width: 90%;
    height: 40px;
    margin-right: 5%;
    border-radius: 5%;
  }

  .footer .print img {
    display:block;
    margin:auto;
    width: 50px;
    height: 30px;
   }

  .footer .text{
    flex:3;
  }

  .footer .clear{
    flex:1;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border-radius: 10px;
  }
  
  .footer .clear img {
    display:block;
    margin:auto;    
    width: 40px;
    height: 30px;
    opacity: 0.9
   }


  
  .footer .text input {
   color: #4f4f4f;
    font-size: 18px;
    height: 30px;
    width: 100%;
    padding: 5px 5px 5px;
    border: transparent;
    border-bottom: #333 1px solid;
    outline: none;
  }
  
 
